header{
  display: flex;
  height: 36px;
  justify-content: space-between;
}
.link-container{
  display: flex;
  gap: 30px;
}
.link-container a{
  text-shadow: 2px 2px 3px #000;
  transition: all 0.1s ease-in;
  padding: 6px;
}
.link-container a:hover{
  background-color: #E62721;
}
@media (max-width: 768px){
  .link-container{ 
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #000;
z-index: 4;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 65px;
transform: translate(100%);
opacity: 0;
font-size: 2.5rem;
transition: all 0.2s;}
}
.menu-burguer-container.active ~ .link-container{
 opacity: 1;
 transform: translateX(0%);
}